<div class="container p-5">

  <h1>Stupid Coaching</h1>
  <h7>Ask your coach anything:</h7>

  <div>
    <form class="row w-100" action="/answer" data-turbo="false">
      <input class="col-10" type="text" name="question">
      <input class="btn btn-primary col-2" type="submit" value="Ask!">
    </form>
  </div>

</div>
